* {
    box-sizing: border-box;
}

body {
    display: block;
    margin: auto;
    background-size: cover;
    background-image: url(./styles/src/GameWorldBackground.png);
}

// ROOT AND MIXIN
$firstColor: azure;
$secondColor: black;
$thirdColor: darkred;

@mixin flex ($flexDirection) {
    display: flex;
    flex-direction: $flexDirection;
}

// BODY
#sitePresent {
    .container-fluid {
        // NAV
        .navbar {
            @include flex (row);
            align-items: center;
            justify-content: space-between;
            .navbar-brand {
                .img-fluid {
                    height: auto;
                    max-width: 350px;
                    width: 100%;
                    max-height: 150px;
                }
            }
            #btnBars {
                display: none;
                font-size: 1.4em;
                border: transparent;
                background: transparent;
                transition: all 0.25ms ease;
                &:hover {
                    color: $thirdColor;
                    transform: rotate(180deg);
                }
            }
            .navbar-nav {
                @include flex (row);
                column-gap: 220px;
                list-style-type: none;
                .nav-item {
                    .nav-link {
                        color: azure;
                        font-size: 1.6em;
                        column-gap: 40%;
                        text-decoration: none;
                        font-family: linkStart;
                        &:hover {
                            color: $thirdColor;
                        }
                    }
                }
                form {
                    margin-top: 10px;
                    margin-right: 10px;
                    @include flex (row);
                    input {
                        height: 30px;
                        font-family: linkStart;
                    }
                    #btnSearch {
                        height: 30px;
                        color: $firstColor;
                        background: transparent;
                        &:hover {
                            color: $thirdColor;
                            background-color: $secondColor;
                        }
                    }
                }
            }
        }
        // CAROUSEL GAMES
        #slideCarousel {
            .carousel-inner {
                .carousel-item {
                    .row {
                        @include flex (row);
                        #affiche {
                            #firstPict {
                            margin-top: 8px;
                            padding: 10px;
                            max-width: 100%;
                            width: 100%;
                            height: auto;
                            }
                        }
                        .col-lg-5 {
                            .title {
                                cursor: pointer;
                                font-size: 1.8em;
                                color: $firstColor;
                                letter-spacing: 10px;
                                font-family: eaSports;
                            }
                            .listBtn {
                                @include flex(row);
                                #btnImSim, #btnRécits, #btnFPS, #btnOpenWorld, #btnChoice, #btnRPG, #btnBaston, #btnAdventure, #btnJRPG, #btnCards, #btnEscape {
                                    padding: 3px;
                                    opacity: 1;
                                    font-size: 1.1em;
                                    cursor: pointer;
                                    font-family: vipnagorgialla;
                                    background-color: $firstColor;
                                    border: 1px solid black;
                                    &:hover {
                                    opacity: 0.6;
                                    }
                                }
                            }
                            .describe {
                                margin: 20px auto;
                                letter-spacing: 2px;
                                line-height: 40px;
                                color: $firstColor;
                                font-size: 1.4em;
                                .listImg {
                                    @include flex(row);
                                    flex-wrap: wrap;
                                    .pictGame {
                                    margin-top: 5px;
                                    padding: 3px 5px 3px 5px;
                                    width: 100%;
                                    opacity: 1;
                                    cursor: pointer;
                                    height: 150px;
                                    }
                                }
                            }
                            .listDetails {
                                .row {
                                    @include flex (row);
                                    margin-top: 20px;
                                    text-align: center;
                                    .developper {
                                        font-size: 1.3em;
                                        font-family: closeness;
                                        color: $firstColor;
                                    }
                                }
                            }
                            .listBtnBuy {
                                @include flex(row);
                                justify-content: end;
                                .btnAdd {
                                    background-color: transparent;
                                    font-size: 1.3em;
                                    letter-spacing: 10px;
                                    .fa-solid {
                                    font-size: 1.4em;
                                    color: $firstColor;
                                    &:hover {
                                        color: $thirdColor;
                                    }
                                    }
                                    &:active {
                                    opacity: 0.7;
                                    transform: translateY(4px);
                                    }
                                }
                                .price {
                                    margin-left: 3px;
                                    font-size: 1.4em;
                                    font-family: eaSports;
                                    color: $firstColor;
                                    background-color: transparent;
                                }
                            }
                        }
                    }
                }
            }
        }
        .typesGames {
            .swiper {
                .swiper-wrapper {
                    .swiper-slide {
                        .card {
                            display: block;
                            margin: 30px auto;
                            width: 70%;
                            border-radius: 40px;
                            background-color: $thirdColor;
                            border: 1px solid $secondColor;
                            .card-head {
                                position: relative;
                                top: -10%;
                                .types {
                                    font-size: 1.8em;
                                    margin-bottom: 20px;
                                    font-family: vipnagorgialla;
                                }
                                @include flex (row);
                                align-items: center;
                                justify-content: space-between;
                                .plusMinus {
                                    margin-top: -20px;
                                    @include flex (row);
                                    #btnPlus {
                                        font-size: 1.8em;
                                        border: transparent;
                                        background: transparent;
                                    }
                                    #btnMinus {
                                        display: none;
                                        font-size: 1.8em;
                                        border: transparent;
                                        background: transparent;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .swiper-pagination-bullet {
                margin-top: 40px;
                width: 20px;
                height: 20px;
                text-align: center;
                line-height: 20px;
                font-size: 12px;
                color: #000;
                opacity: 1;
                background: rgba(0, 0, 0, 0.2);
            }
        }
        .footer {
            padding-bottom: 5px;
            @include flex (row);
            align-items: center;
            justify-content: space-between;
            .foot {
                font-size: 2.0em;
                font-family: eaSports;
            }
            .listSocial {
                column-gap: 80px;
                @include flex (row);
                list-style-type: none;
                .socialItem {
                    .socialLink {
                        .fa {
                            font-size: 1.6em;
                        }
                        .fa-facebook {
                            color: $firstColor;
                            &:hover {
                                color: rgb(12, 12, 99);
                            }
                        }
                        .fa-twitter {
                            color: $firstColor;
                            &:hover {
                                color: rgb(211, 214, 216);
                            }
                        }
                        .fa-youtube {
                            color: $firstColor;
                            &:hover {
                                color: rgb(173, 11, 11);
                            }
                        }
                    }
                }
            }
        }
    }
}

// FONTS
@font-face {
  font-family: linkStart;
  src: url(styles/fonts/LinkStart.otf);
}

@font-face {
  font-family: pirulen;
  src: url(styles/fonts/Pirulen.otf);
}

@font-face {
  font-family: eaSports;
  src: url(styles/fonts/EaSports.ttf);
}

@font-face {
  font-family: vipnagorgialla;
  src: url(styles/fonts/vipnagorgialla\ rg.otf);
}

@font-face {
  font-family: closeness;
  src: url(styles/fonts/Closeness.ttf);
}

