@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  display: block;
  margin: auto;
  height: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(./styles/src/GameWorldBackground.png);
}

#sitePresent .container-fluid .navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#sitePresent .container-fluid .navbar .navbar-brand .img-fluid {
  height: auto;
  max-width: 350px;
  width: 100%;
  max-height: 150px;
}
#sitePresent .container-fluid .navbar #btnBars {
  display: none;
  font-size: 1.8em;
  margin-right: 10px;
  border: transparent;
  background: transparent;
  transition: all 0.25ms ease;
}
#sitePresent .container-fluid .navbar #btnBars:hover {
  color: darkred;
  transform: rotate(180deg);
}
#sitePresent .container-fluid .navbar .navbar-nav {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
#sitePresent .container-fluid .navbar .navbar-nav .nav-item {
  margin-right: 60px;
}
#sitePresent .container-fluid .navbar .navbar-nav .nav-item .nav-link {
  -moz-column-gap: 160px;
       column-gap: 160px;
  color: azure;
  font-size: 1.6em;
  text-decoration: none;
  font-family: linkStart;
}
#sitePresent .container-fluid .navbar .navbar-nav .nav-item .nav-link:hover {
  color: darkred;
}
#sitePresent .container-fluid .navbar .navbar-nav form {
  margin-top: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
}
#sitePresent .container-fluid .navbar .navbar-nav form input {
  font-size: 1.4em;
  height: 30px;
  font-family: linkStart;
}
#sitePresent .container-fluid .navbar .navbar-nav form #btnSearch {
  height: 30px;
  color: azure;
  background: transparent;
}
#sitePresent .container-fluid .navbar .navbar-nav form #btnSearch:hover {
  color: darkred;
  background-color: black;
}
#sitePresent .container-fluid #slideCarousel .carousel-inner .carousel-item .row {
  display: flex;
  flex-direction: row;
}
#sitePresent .container-fluid #slideCarousel .carousel-inner .carousel-item .row #affiche #firstPict {
  margin-top: 8px;
  padding: 10px;
  max-width: 100%;
  width: 100%;
  height: 620px;
}
#sitePresent .container-fluid #slideCarousel .carousel-inner .carousel-item .row .col-lg-5 .title {
  cursor: pointer;
  font-size: 1.8em;
  color: azure;
  letter-spacing: 10px;
  font-family: eaSports;
}
#sitePresent .container-fluid #slideCarousel .carousel-inner .carousel-item .row .col-lg-5 .listBtn {
  display: flex;
  flex-direction: row;
}
#sitePresent .container-fluid #slideCarousel .carousel-inner .carousel-item .row .col-lg-5 .listBtn #btnImSim, #sitePresent .container-fluid #slideCarousel .carousel-inner .carousel-item .row .col-lg-5 .listBtn #btnRécits, #sitePresent .container-fluid #slideCarousel .carousel-inner .carousel-item .row .col-lg-5 .listBtn #btnFPS, #sitePresent .container-fluid #slideCarousel .carousel-inner .carousel-item .row .col-lg-5 .listBtn #btnOpenWorld, #sitePresent .container-fluid #slideCarousel .carousel-inner .carousel-item .row .col-lg-5 .listBtn #btnChoice, #sitePresent .container-fluid #slideCarousel .carousel-inner .carousel-item .row .col-lg-5 .listBtn #btnRPG, #sitePresent .container-fluid #slideCarousel .carousel-inner .carousel-item .row .col-lg-5 .listBtn #btnBaston, #sitePresent .container-fluid #slideCarousel .carousel-inner .carousel-item .row .col-lg-5 .listBtn #btnAdventure, #sitePresent .container-fluid #slideCarousel .carousel-inner .carousel-item .row .col-lg-5 .listBtn #btnJRPG, #sitePresent .container-fluid #slideCarousel .carousel-inner .carousel-item .row .col-lg-5 .listBtn #btnCards, #sitePresent .container-fluid #slideCarousel .carousel-inner .carousel-item .row .col-lg-5 .listBtn #btnEscape {
  padding: 3px;
  opacity: 1;
  font-size: 1.1em;
  cursor: pointer;
  font-family: vipnagorgialla;
  background-color: azure;
  border: 1px solid black;
}
#sitePresent .container-fluid #slideCarousel .carousel-inner .carousel-item .row .col-lg-5 .listBtn #btnImSim:hover, #sitePresent .container-fluid #slideCarousel .carousel-inner .carousel-item .row .col-lg-5 .listBtn #btnRécits:hover, #sitePresent .container-fluid #slideCarousel .carousel-inner .carousel-item .row .col-lg-5 .listBtn #btnFPS:hover, #sitePresent .container-fluid #slideCarousel .carousel-inner .carousel-item .row .col-lg-5 .listBtn #btnOpenWorld:hover, #sitePresent .container-fluid #slideCarousel .carousel-inner .carousel-item .row .col-lg-5 .listBtn #btnChoice:hover, #sitePresent .container-fluid #slideCarousel .carousel-inner .carousel-item .row .col-lg-5 .listBtn #btnRPG:hover, #sitePresent .container-fluid #slideCarousel .carousel-inner .carousel-item .row .col-lg-5 .listBtn #btnBaston:hover, #sitePresent .container-fluid #slideCarousel .carousel-inner .carousel-item .row .col-lg-5 .listBtn #btnAdventure:hover, #sitePresent .container-fluid #slideCarousel .carousel-inner .carousel-item .row .col-lg-5 .listBtn #btnJRPG:hover, #sitePresent .container-fluid #slideCarousel .carousel-inner .carousel-item .row .col-lg-5 .listBtn #btnCards:hover, #sitePresent .container-fluid #slideCarousel .carousel-inner .carousel-item .row .col-lg-5 .listBtn #btnEscape:hover {
  opacity: 0.6;
}
#sitePresent .container-fluid #slideCarousel .carousel-inner .carousel-item .row .col-lg-5 .describe {
  margin: 20px auto;
  letter-spacing: 2px;
  line-height: 40px;
  color: azure;
  font-size: 1.4em;
}
#sitePresent .container-fluid #slideCarousel .carousel-inner .carousel-item .row .col-lg-5 .describe .listImg {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#sitePresent .container-fluid #slideCarousel .carousel-inner .carousel-item .row .col-lg-5 .describe .listImg .pictGame {
  margin-top: 5px;
  padding: 3px 5px 3px 5px;
  width: 100%;
  opacity: 1;
  cursor: pointer;
  height: 150px;
}
#sitePresent .container-fluid #slideCarousel .carousel-inner .carousel-item .row .col-lg-5 .listDetails .row {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  text-align: center;
}
#sitePresent .container-fluid #slideCarousel .carousel-inner .carousel-item .row .col-lg-5 .listDetails .row .developper {
  font-size: 1.3em;
  font-family: closeness;
  color: azure;
}
#sitePresent .container-fluid #slideCarousel .carousel-inner .carousel-item .row .col-lg-5 .listBtnBuy {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
#sitePresent .container-fluid #slideCarousel .carousel-inner .carousel-item .row .col-lg-5 .listBtnBuy .btnAdd {
  background-color: transparent;
  font-size: 1.3em;
  letter-spacing: 10px;
}
#sitePresent .container-fluid #slideCarousel .carousel-inner .carousel-item .row .col-lg-5 .listBtnBuy .btnAdd .fa-solid {
  font-size: 1.4em;
  color: azure;
}
#sitePresent .container-fluid #slideCarousel .carousel-inner .carousel-item .row .col-lg-5 .listBtnBuy .btnAdd .fa-solid:hover {
  color: darkred;
}
#sitePresent .container-fluid #slideCarousel .carousel-inner .carousel-item .row .col-lg-5 .listBtnBuy .btnAdd:active {
  opacity: 0.7;
  transform: translateY(4px);
}
#sitePresent .container-fluid #slideCarousel .carousel-inner .carousel-item .row .col-lg-5 .listBtnBuy .price {
  margin-left: 3px;
  font-size: 1.4em;
  font-family: eaSports;
  color: azure;
  background-color: transparent;
}
#sitePresent .container-fluid .result {
  display: block;
  margin: auto;
}
#sitePresent .container-fluid .result p {
  font-size: 2.4em;
  color: azure;
  text-align: center;
  font-family: linkStart;
}
#sitePresent .container-fluid .result .row .col-lg-4 .card {
  border: 3px solid azure;
  background-color: black;
}
#sitePresent .container-fluid .result .row .col-lg-4 .card .card-head .img-fluid {
  height: 275px;
}
#sitePresent .container-fluid .result .row .col-lg-4 .card .card-body {
  text-align: center;
  background-color: rgb(8, 8, 192);
}
#sitePresent .container-fluid .result .row .col-lg-4 .card .card-body #btnInfo {
  border: transparent;
  background: transparent;
}
#sitePresent .container-fluid .result .row .col-lg-4 .card .card-body #btnInfo a {
  font-size: 1.2em;
  color: azure;
  font-family: pirulen;
  text-decoration: none;
}
#sitePresent .container-fluid .result .row .col-lg-4 .card .card-body #btnInfo a:hover {
  color: darkred;
}
#sitePresent .container-fluid .typesGames .swiper .swiper-wrapper .swiper-slide .card {
  display: block;
  margin: 30px auto;
  width: 70%;
  padding: 4px;
  border-radius: 40px;
}
#sitePresent .container-fluid .typesGames .swiper .swiper-wrapper .swiper-slide .card.rpg {
  background-color: rgb(3, 88, 3);
  border: 2px solid black;
}
#sitePresent .container-fluid .typesGames .swiper .swiper-wrapper .swiper-slide .card.jrpg {
  border: 2px solid black;
  background-color: rgb(201, 137, 19);
}
#sitePresent .container-fluid .typesGames .swiper .swiper-wrapper .swiper-slide .card.fps {
  border: 2px solid black;
  background-color: rgb(94, 3, 3);
}
#sitePresent .container-fluid .typesGames .swiper .swiper-wrapper .swiper-slide .card.story {
  border: 2px solid black;
  background-color: rgb(11, 149, 190);
}
#sitePresent .container-fluid .typesGames .swiper .swiper-wrapper .swiper-slide .card .card-head {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#sitePresent .container-fluid .typesGames .swiper .swiper-wrapper .swiper-slide .card .card-head .types {
  font-size: 1.8em;
  margin-bottom: 20px;
  font-family: vipnagorgialla;
}
#sitePresent .container-fluid .typesGames .swiper .swiper-wrapper .swiper-slide .card .card-head .plusMinus {
  margin-top: -20px;
  display: flex;
  flex-direction: row;
}
#sitePresent .container-fluid .typesGames .swiper .swiper-wrapper .swiper-slide .card .card-head .plusMinus .btnPlus {
  font-size: 1.8em;
  border: transparent;
  background: transparent;
}
#sitePresent .container-fluid .typesGames .swiper .swiper-wrapper .swiper-slide .card .card-head .plusMinus .btnMinus {
  display: none;
  font-size: 1.8em;
  border: transparent;
  background: transparent;
}
#sitePresent .container-fluid .typesGames .swiper .swiper-wrapper .swiper-slide .card .card-body {
  display: none;
  margin-top: -32px;
}
#sitePresent .container-fluid .typesGames .swiper .swiper-wrapper .swiper-slide .card .card-body .listGames .row .games .img-fluid {
  cursor: pointer;
  border: 0px solid black;
  border-radius: 40px;
  transition: all 0.25ms ease;
}
#sitePresent .container-fluid .typesGames .swiper .swiper-wrapper .swiper-slide .card .card-body .listGames .row .games .img-fluid:hover {
  transform: scale(1.4);
}
#sitePresent .container-fluid .typesGames .swiper .swiper-button-prev {
  font-size: 0.7em;
  font-weight: bold;
  color: azure;
  position: absolute;
  top: 50%;
  left: 12%;
}
#sitePresent .container-fluid .typesGames .swiper .swiper-button-next {
  font-size: 0.7em;
  font-weight: bold;
  color: azure;
  position: absolute;
  top: 50%;
  right: 12%;
}
#sitePresent .container-fluid .footer {
  padding-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#sitePresent .container-fluid .footer .foot {
  font-size: 2em;
  color: azure;
  font-family: eaSports;
}
#sitePresent .container-fluid .footer .listSocial {
  -moz-column-gap: 80px;
       column-gap: 80px;
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
#sitePresent .container-fluid .footer .listSocial .socialItem .socialLink .fa {
  font-size: 1.6em;
}
#sitePresent .container-fluid .footer .listSocial .socialItem .socialLink .fa-facebook {
  color: azure;
}
#sitePresent .container-fluid .footer .listSocial .socialItem .socialLink .fa-facebook:hover {
  color: rgb(12, 12, 99);
}
#sitePresent .container-fluid .footer .listSocial .socialItem .socialLink .fa-twitter {
  color: azure;
}
#sitePresent .container-fluid .footer .listSocial .socialItem .socialLink .fa-twitter:hover {
  color: rgb(211, 214, 216);
}
#sitePresent .container-fluid .footer .listSocial .socialItem .socialLink .fa-youtube {
  color: azure;
}
#sitePresent .container-fluid .footer .listSocial .socialItem .socialLink .fa-youtube:hover {
  color: rgb(173, 11, 11);
}

#sidebarFluid {
  height: 250px;
  border: 2px solid azure;
  background-color: black;
}
#sidebarFluid #btnCloseCanvas {
  position: absolute;
  top: 3%;
  right: 2%;
  font-size: 1.4em;
  color: darkred;
  border: transparent;
  background: transparent;
}
#sidebarFluid .offcanvas-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#sidebarFluid .offcanvas-body .img-fluid {
  max-width: 350px;
  height: 150px;
}
#sidebarFluid .offcanvas-body .canvasList {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
#sidebarFluid .offcanvas-body .canvasList ul {
  display: flex;
  flex-direction: row;
  margin-top: 7px;
  text-decoration: none;
  list-style-type: none;
}
#sidebarFluid .offcanvas-body .canvasList ul .canvas-item {
  margin-right: 60px;
}
#sidebarFluid .offcanvas-body .canvasList ul .canvas-item .canvas-link {
  -moz-column-gap: 160px;
       column-gap: 160px;
  color: azure;
  font-size: 1.6em;
  text-decoration: none;
  font-family: linkStart;
}
#sidebarFluid .offcanvas-body .canvasList ul .canvas-item .canvas-link:hover {
  color: darkred;
}
#sidebarFluid .offcanvas-body .canvasList form {
  margin-top: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
}
#sidebarFluid .offcanvas-body .canvasList form input {
  font-size: 1.4em;
  height: 30px;
  font-family: linkStart;
}
#sidebarFluid .offcanvas-body .canvasList form #btnSearch {
  height: 30px;
  color: azure;
  background: transparent;
}
#sidebarFluid .offcanvas-body .canvasList form #btnSearch:hover {
  color: darkred;
  background-color: black;
}

@font-face {
  font-family: linkStart;
  src: url(styles/fonts/LinkStart.otf);
}
@font-face {
  font-family: pirulen;
  src: url(styles/fonts/Pirulen.otf);
}
@font-face {
  font-family: eaSports;
  src: url(styles/fonts/EaSports.ttf);
}
@font-face {
  font-family: vipnagorgialla;
  src: url(styles/fonts/vipnagorgialla\ rg.otf);
}
@font-face {
  font-family: closeness;
  src: url(styles/fonts/Closeness.ttf);
}
@media screen and (max-width: 992px) {
  #sitePresent .container-fluid #slideCarousel .carousel-inner .carousel-item .row .col-lg-5 .title {
    text-align: center;
  }
  #sitePresent .container-fluid #slideCarousel .carousel-inner .carousel-item .row .col-lg-5 .listBtn {
    justify-content: center;
  }
  #sitePresent .container-fluid #slideCarousel .carousel-inner .carousel-item .row .col-lg-5 .describe .listImg .col-lg-4 .img-fluid {
    height: 350px;
  }
}
@media screen and (max-width: 978px) {
  #sitePresent .container-fluid .typesGames .swiper .swiper-wrapper .swiper-slide .card .card-body .listGames .row .games .img-fluid {
    margin: 5px;
    height: 350px;
  }
}
@media screen and (max-width: 954px) {
  #sitePresent .container-fluid .navbar #btnBars {
    display: block;
  }
  #sitePresent .container-fluid .navbar .navbar-nav {
    display: none;
  }
  #sidebarFluid .offcanvas-body {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 862px) {
  #sitePresent .container-fluid .typesGames .swiper .swiper-wrapper .swiper-slide .card .card-body .listGames .row .games .img-fluid {
    margin: 5px;
    height: 350px;
  }
  #sitePresent .container-fluid .typesGames .swiper .swiper-button-next {
    position: absolute;
    top: 50%;
    right: 10%;
  }
  #sitePresent .container-fluid .typesGames .swiper .swiper-button-prev {
    position: absolute;
    top: 50%;
    left: 10%;
  }
}
@media screen and (max-width: 675px) {
  #sidebarFluid {
    height: 275px;
  }
  #sidebarFluid .offcanvas-body .canvasList {
    display: flex;
    flex-direction: column;
  }
  #sidebarFluid .offcanvas-body .canvasList form {
    display: block;
    margin: auto;
  }
}
@media screen and (max-width: 490px) {
  #sitePresent .container-fluid .typesGames .swiper .swiper-button-next {
    position: absolute;
    top: 40%;
    right: 8%;
  }
  #sitePresent .container-fluid .typesGames .swiper .swiper-button-prev {
    position: absolute;
    top: 40%;
    left: 8%;
  }
}/*# sourceMappingURL=gameWorld.css.map */